/* background color = #1e1e2a  */
/* graph color = #27293d */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin-top: 50px;
    background-color: #1e1e2a;
    font-family: 'Poppins', sans-serif;
}
/*
============================================= IDs ============================================================
*/

#chart-header{
    padding: 15px 15px 0;
    background-color: rgba(0, 0, 0, 0);
}

#chart-1, #chart-brazil{
    margin-right: 100px;
}

#recuperados-card{
    border-top: 2px solid lightskyblue ;
}
#obitos-card{
    border-top: 2px solid lightcoral ;
}
#confirmados-card{
    border-top: 2px solid lightgreen;
}
#recuperados-card:hover{
    border-bottom: 2px solid lightskyblue ;
    border-right: 2px solid lightskyblue;

}
#obitos-card:hover{
    border-bottom: 2px solid lightcoral ;
    border-right: 2px solid lightcoral;

}
#confirmados-card:hover{
    border-bottom: 2px solid lightgreen;
    border-right: 2px solid lightgreen;

}
/*
============================================= Classes ====================================================
*/
.navbar{
    background-color: #27293d;
    border-bottom: 2px solid #dd4ecc;
}

.value-card{
    border-top: 2px solid #dd4ecc ;
    border-radius: 10px;
    background-color: #27293d;
    box-shadow:  rgba(110, 110, 110, 0.8);
    margin-top: 25px;
    min-height: 170px;
    text-align: center;
}
.value-card:hover{
    border-bottom: 2px solid #dd4ecc ;
    border-right: 2px solid #dd4ecc;
}

.value-card h2{
    color: white;
    border-bottom: solid 2px grey;
}

.value-card h3{
    margin: 20px 0px;
    text-align: center;
    color: rgb(190, 190, 190);
}

.value-card:hover, #info-box:hover, #chart-box:hover{
    transition: 0.3s;
    cursor: default;
    box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.3);
}

.card-title {
    margin-left: 40px;
}

.info-box{
    color: white;
    border-radius: 10px;
    margin: 50px 40px ;
    background-color: #27293d;
    box-shadow:  rgba(110, 110, 110, 0.8);
    max-height: 300px;
}

.info-box h2{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(110, 110, 110, 0.8);
}

.chart-box{
    border-radius: 10px;
    margin: 50px 0px;
    background-color: #27293d;
    box-shadow:  rgba(110, 110, 110, 0.8);
    padding: 0 10px 10px 0;
    max-height: 300px;
}

.chart-box h2, .chart-box-brazil h2 {
    color:white;
    font-weight: 100;
    margin: 0 0 10 0px;
}
.chart-box h3, .chart-box-brazil h3 {
    color:rgb(167, 164, 164);
    font-weight: 100;
    margin: 0;
}

.chart-box-brazil{
    border-radius: 10px;
    margin: 50px 0px;
    background-color: #27293d;
    box-shadow:  rgba(110, 110, 110, 0.8);
    padding: 0 10px 10px 0;
    max-height: 300px;
}
